.header{
  position: sticky;
}

.main{
  display: flex;
}

.main-track-panels{
  width: 20%;
  background-color: var(--bs-list-group-bg);
}

.main-piano-key{
  width: 50px;
  height: 785px;
  overflow-y: hidden;
}

.main-piano-roll{
  width: 77%;
  height: 785px;
  overflow-y: scroll;
}